<?xml version='1.0' encoding='UTF-8'?>

<!--L
   Copyright Ekagra Software Technologies Ltd.
   Copyright SAIC

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/common-security-module/LICENSE.txt for details.
L-->

<project>
  <builders class="vector">
    <hudson.tasks.Ant>
      <targets>build:all static-analysis</targets>
      <antName>Ant-1.7.0</antName>
      <properties>ci.server=true</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers class="vector">
    <hudson.tasks.ArtifactArchiver>
      <artifacts>security/reports/**/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.pmd.PmdPublisher>
      <pattern>security/reports/pmd/pmd*.xml</pattern>
      <threshold></threshold>
      <thresholdEnabled>false</thresholdEnabled>
      <minimumAnnotations>0</minimumAnnotations>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <healthyAnnotations>0</healthyAnnotations>
      <unHealthyAnnotations>0</unHealthyAnnotations>
      <healthyReportEnabled>false</healthyReportEnabled>
    </hudson.plugins.pmd.PmdPublisher>
    <hudson.plugins.violations.ViolationsPublisher>
      <config>
        <typeConfigs>
          <no-comparator/>
          <entry>
            <string>checkstyle</string>
            <hudson.plugins.violations.TypeConfig>
              <type>checkstyle</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>security/reports/checkstyle/*.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>findbugs</string>
            <hudson.plugins.violations.TypeConfig>
              <type>findbugs</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>fxcop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>fxcop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pmd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pmd</type>
              <min>10</min>
              <max>1200</max>
              <unstable>1200</unstable>
              <usePattern>false</usePattern>
              <pattern>security/reports/pmd/pmd*.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pylint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pylint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>simian</string>
            <hudson.plugins.violations.TypeConfig>
              <type>simian</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>security/reports/simian/*.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
        </typeConfigs>
        <limit>100</limit>
        <sourcePathPattern></sourcePathPattern>
        <fauxProjectPath></fauxProjectPath>
        <encoding>default</encoding>
      </config>
    </hudson.plugins.violations.ViolationsPublisher>
    <hudson.plugins.checkstyle.CheckStylePublisher>
      <pattern>security/reports/checkstyle/*.xml</pattern>
      <threshold></threshold>
      <thresholdEnabled>false</thresholdEnabled>
      <minimumAnnotations>0</minimumAnnotations>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <healthyAnnotations>0</healthyAnnotations>
      <unHealthyAnnotations>0</unHealthyAnnotations>
      <healthyReportEnabled>false</healthyReportEnabled>
      <height></height>
      <pluginName>[CHECKSTYLE] </pluginName>
    </hudson.plugins.checkstyle.CheckStylePublisher>
    <hudson.tasks.Mailer>
      <recipients>saksass@mail.nih.gov</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://gforge.nci.nih.gov/svnroot/security/trunk/software</remote>
        <local>security</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
  </scm>
  <quietPeriod>60</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
    <hudson.triggers.TimerTrigger>
      <spec>15 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description></description>
  <actions class="vector"/>
</project>