<?xml version="1.0" encoding="UTF-8" ?>

<!--L
   Copyright Ekagra Software Technologies Ltd.
   Copyright SAIC, SAIC-Frederick

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/common-security-module/LICENSE.txt for details.
L-->


<!DOCTYPE log4j:configuration SYSTEM ".\log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="CLM_APPENDER" class="gov.nih.nci.logging.api.appender.jdbc.JDBCAppender">
      <param name="application" value="csm41" />
      <param name="maxBufferSize" value="1" />
      <param name="dbDriverClass" value="org.gjt.mm.mysql.Driver" />
      <param name="dbUrl" value="jdbc:mysql://localhost:3306/csm41" />
      <param name="dbUser" value="root" />
      <param name="dbPwd" value="admin" />
	  <param name="useFilter" value="true" />
      <layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern"
                       value=":: [%d{ISO8601}] %-5p %c{1}.%M() %x - %m%n" />
      </layout>
    </appender>

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
<!--      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>-->
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>



    <category name="CSM.Audit.Logging.Event.Authentication">
			<level value="info" />
			
			<appender-ref ref="CLM_APPENDER" />
	</category>
	<category name="CSM.Audit.Logging.Event.Authorization">
			<level value="info" />
			<appender-ref ref="CLM_APPENDER" />
	</category>
	<category name="CSM.Audit.Logging.ObjectState.Authorization">
			<level value="INFO" />
			<appender-ref ref="CLM_APPENDER" />
	</category>

</log4j:configuration>