OpenLDAP{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldap://ncicbds-dev.nci.nih.gov:389"
  ldapSearchableBase="ou=csm,dc=ncicb-dev,dc=nci,dc=nih,dc=gov"
  ldapUserIdLabel="uid"
  ldapAdminUserName="uid=csmAdmin,ou=csm,dc=ncicb-dev,dc=nci,dc=nih,dc=gov"
  ldapAdminPassword="CSM@admin!";
};

EDirectory{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldaps://ncids4a.nci.nih.gov:636"
  ldapSearchableBase="ou=nci,o=nih"
  ldapUserIdLabel="cn";
};

LDAPGRID{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldap://ncicbds-dev.nci.nih.gov:389"
  ldapSearchableBase="ou=csm,dc=ncicb-dev,dc=nci,dc=nih,dc=gov"
  ldapUserIdLabel="uid"
  ldapAdminUserName="uid=csmAdmin,ou=csm,dc=ncicb-dev,dc=nci,dc=nih,dc=gov"
  ldapAdminPassword="CSM@admin!"
  
  USER_FIRST_NAME="givenName"
  USER_LAST_NAME="sn"
  USER_EMAIL_ID="mail";
  
  
};

RDBMSGRID{
  gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
  driver="org.gjt.mm.mysql.Driver" 
  url="jdbc:mysql://cbiovdev5004.nci.nih.gov:3620/newAuthSchema"
  user="ncisecurity" 
  passwd="ncisecurity" 
  
  TABLE_NAME="CSM_USER"
  USER_LOGIN_ID="LOGIN_NAME"
  USER_PASSWORD="PASSWORD"
  USER_FIRST_NAME="FIRST_NAME"
  USER_LAST_NAME="LAST_NAME"
  USER_EMAIL_ID="EMAIL_ID";
};
