OpenLDAP{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldap://ncicbds-dev.nci.nih.gov:389"
  ldapSearchableBase="ou=csm,dc=ncicb-dev,dc=nci,dc=nih,dc=gov"
  ldapUserIdLabel="uid"
  ldapAdminUserName="uid=csmAdmin,ou=csm,dc=ncicb-dev,dc=nci,dc=nih,dc=gov"
  ldapAdminPassword="CSM@admin!";
};

EDirectory{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldaps://ncids4a.nci.nih.gov:636"
  ldapSearchableBase="ou=nci,o=nih"
  ldapUserIdLabel="cn";
};
